.modal {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
}

.modal__opened {
  visibility: visible;
}

.modal__content {
  padding: 28px 28px 36px;
  position: relative;
  background-color: white;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
}

.modal__title {
  margin: 0;
  padding-bottom: 20px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.modal__label {
  font-weight: 700;
}

.modal__input {
  display: block;
  width: 100%;
  border-style: bottom;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.modal__radio-buttons {
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal__radio-legend {
  padding-bottom: 12px;
}
