.card {
  background-color: #e9e9e9;
  display: flex;
  position: relative;
  width: 323px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  justify-content: center;
  overflow: hidden;
}
.card__name {
  padding: 2px 12px;
  border-radius: 4px;
  background-color: #ffffff;
  margin: 0;
  position: absolute;
  top: 15px;
  color: #00000099;
  font-size: 16px;
  line-height: 20px;
}

.card__image {
  width: 100%;
}

@media screen and (max-width: 627px) {
  .card {
    width: 164px;
    height: 164px;
  }
}
