@font-face {
  src: url("../assets/yellowtail-regular.woff") format("woff");
  font-family: "Yellowtail";
}

.header {
  display: flex;
  position: relative;
  align-items: center;
  padding-bottom: 28px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.header__logo-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__logo {
  width: 89px;
  height: 40px;
}

.header__date-And-Location {
  margin: 0;
  padding: 0;
}

.header__user-container {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  gap: 20px;
  align-items: center;
  height: 40px;
}

.header__panel-button {
  position: absolute;
}

.header__user-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__user-close-button {
  margin: 0;
  padding: 0;
  border: none;
}

.header__user-name {
  margin: 0;
  line-height: 24.8px;
}

.header__user-avatar {
  width: 40px;
  height: 40px;
}

.header__add-clothes-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin: 0 auto;
  font-weight: 700;
  height: fit-content;
  padding: 0;
  margin: 0;
  border-width: 0;
}

.header__panel-button {
  background-color: white;
  background-image: url("../../assets/PanelButton.svg");
  width: 100%;
  height: 100%;
  max-width: 44px;
  max-height: 44px;
  visibility: collapse;
  width: 0;
  height: 0;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}

.header__link {
  text-decoration: none;
  color: black;
}
.header__user-name {
  text-wrap: none;
  padding: 0;
  margin: 0;
}
.header__login-and-registration {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}
.header__registration-button,
.header__login-button {
  padding: 0;
  margin: 0;
  width: fit-content;
  text-wrap-mode: nowrap;
  background-color: transparent;
  border: none;
}
.header__mobile-icon {
  visibility: collapse;
  width: 0;
  height: 0;
}

@media screen and (max-width: 900px) {
  .header__user-name {
    position: absolute;
    visibility: collapse;
    width: 0;
    height: 0;
  }
}

@media screen and (max-width: 720px) {
  .header {
    height: fit-content;
  }
  .header__user-container {
    margin-left: auto;
    position: relative;
    right: 0;
    flex-direction: column;
    flex-flow: column-reverse;
  }
}

@media screen and (max-width: 627px) {
  .header {
    padding: 0;
    padding-bottom: 16px;
    justify-content: start;
  }

  .header__logo-container {
    top: 0;
    position: relative;
    font: 16px;
    gap: 12px;
    min-width: 200px;
  }
  .header__user-container {
    margin: 0 auto;
    padding: 0;
    visibility: collapse;
    width: 0;
    height: 0;
  }
  .header__add-clothes-button {
    margin: 0;
  }
  .header__panel-button {
    position: absolute;
    visibility: visible;
    right: 16px;
    top: 18px;
  }
  .header__user-container_mod {
    z-index: 1;
    background-color: white;
    position: fixed;
    max-width: 100%;
    width: auto;
    left: 16px;
    top: 18px;
    right: 16px;
    height: 208px;
    border-radius: 10px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
  .header__user-close-button {
    background-image: url("../../assets/CloseBlack.svg");
    background-color: white;
    border: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 29px;
    right: 27px;
    min-width: 21px;
    min-height: 21px;
    z-index: 2;
  }
  .header__log-reg-mobile {
    height: 40px;
    display: flex;
    gap: 20px;
  }
  .header__mobile-icon {
    visibility: visible;
    width: fit-content;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .container__visible-mod {
    visibility: visible;
  }
}

@media screen and (max-width: 500px) {
  .header__logo-container {
    align-items: start;
    flex-direction: column;
  }
}
