.sidebar__profile-info {
  display: flex;
  gap: 16px;
}

@media screen and (max-width: 582px) {
  .sidebar {
    position: absolute;
    visibility: hidden;
    width: 0;
    max-width: 0;
  }
}
